* {
    font-family: "Overpass Nerd Font", "Zed Mono Nerd Font", "JetBrains Mono Nerd Font", "NotoSansMono Nerd Font";
    font-weight: bolder;
    font-size: larger;
    border-radius: 5px;
    font-size: 14px;
}

window#waybar {
  background: rgba(0,0,0,0);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#pulseaudio,
#network,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#custom-power,
#power-profiles-daemon,
#pulseaudio-slider,
#window,
#custom-notification,
#mpd {
    color: #fff8d3;
    padding: 0 10px;
    margin: 0 4px;
}

#clock,
#workspaces,
#window,
.modules-right {
    background: rgba(105, 86, 24, 0.829);
    border: solid rgba(192, 153, 26, 0.9) 1px;
    border-radius: 25px;
}



@keyframes slideWorkspace {
    0% {
        margin-left: -50px; 
        opacity: 0.5;      
    }
    40% {
        margin-left: 12px; 
        opacity: 1;
    }
    60% {
        margin-left: -6px;
    }
    80% {
        margin-left: 3px;  
    }
    90% {
        margin-left: -1px;
    }
    100% {
        margin-left: 0px; 
    }
}


#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.85);
    color: rgb(0, 0, 0);
    border-radius: 100%;
    animation: slideWorkspace 0.5s cubic-bezier(0.25, 1.2, 0.5, 1) forwards;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 0.85);
    color: rgb(255, 255, 255);
    border-radius: 100%;
}
